#root {
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  flex-flow: column nowrap;
  background-color: #E1F2D5;
}

.header-container {
  background-color: #034422;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-title {
  color: white;
}

label {
  display: flex;
  flex-flow: column nowrap;
  width: 350px;
  margin: 10px auto;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

label input {
  padding: 15px;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #034422;
  padding: 20px;
  width: 500px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

button {
  padding: 15px 25px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #1EB720;
  color: white;
  margin: 20px auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
  width: 50%;
}

button:hover {
  background-color: #13c816b9;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: max-content;
  width: 100%;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 50px;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}